<h1 class="mt-3"> Pupes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th> Variable</th>
                    <th> Pipes </th>
                    <th> Salida </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Uppercase </td>
                    <td> {{ nombre | uppercase }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> lowercase </td>
                    <td> {{ nombre | lowercase }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> slice:3 </td>
                    <td> {{ nombre | slice:3 }} </td>
                </tr>
                <tr>
                    <td> {{ arreglo }} </td>
                    <td> slice:0:3 </td>
                    <td> {{ arreglo | slice:0:3 }} </td>
                </tr>
                <tr>
                    <td> {{ arreglo }} </td>
                    <td> slice1:5 </td>
                    <td> {{ arreglo | slice:1:5 }} </td>
                </tr>
                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'3.0-0' </td>
                    <td> {{ PI | number:'3.0-0'}} </td>
                </tr>
                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'.0-5' </td>
                    <td> {{ PI | number:'.0-5' }} </td>
                </tr>
                <tr>
                    <td> {{ porcentaje}} </td>
                    <td> percent </td>
                    <td> {{ porcentaje| percent }} </td>
                </tr>
                <tr>
                    <td> {{ porcentaje}} </td>
                    <td> percent:'.1-2' </td>
                    <td> {{ porcentaje| percent:'.1-2' }} </td>
                </tr>
                <tr>
                    <td> {{ salario}} </td>
                    <td> currency </td>
                    <td> {{ salario| currency }} </td>
                </tr>
                <!-- Para utilizar distintas denominaciones de monedas solo hay que buscar su codigo en la pagino ISO 4217 - Wikipedia -->
                <tr>
                    <td> {{ salario}} </td>
                    <td> currency:'EUR' </td>
                    <td> {{ salario| currency:'EUR' }} </td>
                </tr>
                <tr>
                    <td> {{ valorPromesa }} </td>
                    <td> asycn </td>
                    <td> {{ valorPromesa | async }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> Date </td>
                    <td> {{ fecha | date }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> Date:'short' </td>
                    <td> {{ fecha | date:'short'}} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> Date:'MMMM - dd' </td>
                    <td> {{ fecha | date:'MMMM - dd'}} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td>
                        <button (click)="idioma='es'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-dark">ingles</button>
                        <button (click)="idioma='fr'" class="mr-1 btn btn-succes">frances</button>
                    </td>
                    <td> {{ fecha | date:'MMMM - dd':'': idioma }} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>SLICE 4:10</h2>
    <hr>
    <ul>
        <li *ngFor="let item of arreglo | slice:4:10"> {{ item }} </li>
    </ul>
    <h2> JSON </h2>
    <hr>
    <div class="row mb-5">
        <div class="col">
            <pre>
            {{ heroe | json }}
          </pre>
        </div>
    </div>
</div>